n8n-threat-feed-workflow.json
{
  "name": "OCDE Threat Feed - Send Advisories",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Daily 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 500]
    },
    {
      "parameters": {
        "jsCode": "// Build threat feed items to send to OCDE Threat Map\n// Modify this array with your actual advisories\n\nconst items = [\n  {\n    \"text\": \"CVE-2024-3400: Critical RCE in Palo Alto PAN-OS GlobalProtect. Patch immediately.\",\n    \"severity\": \"critical\",\n    \"source\": \"CISA KEV\"\n  },\n  {\n    \"text\": \"IOC: C2 domain detected in DNS logs - malicious-c2.example.com\",\n    \"severity\": \"high\",\n    \"source\": \"ThreatIntel\"\n  },\n  {\n    \"text\": \"Reminder: Monthly vulnerability scan scheduled for this weekend.\",\n    \"severity\": \"low\",\n    \"source\": \"OCDE SOC\"\n  }\n];\n\nreturn [{ json: { items } }];"
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Build Advisories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.THREAT_MAP_URL || 'http://localhost:3000' }}/api/threat-feed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Token",
              "value": "={{ $env.THREAT_FEED_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.items) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "POST to Threat Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-status",
              "name": "status",
              "value": "={{ 'Success: Added ' + $json.added + ' items (total: ' + $json.total + ')' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-error",
              "name": "status",
              "value": "={{ 'Failed: ' + ($json.error || 'Unknown error') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Log Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 500]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Advisories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 8 AM": {
      "main": [
        [
          {
            "node": "Build Advisories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Advisories": {
      "main": [
        [
          {
            "node": "POST to Threat Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Threat Feed": {
      "main": [
        [
          {
            "node": "Check Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "OCDE"
    },
    {
      "name": "Threat Intelligence"
    }
  ]
}
